
backoff==2.2.1
context-cite==0.0.4
deepeval==2.6.4
editdistance==0.8.1
fitz==0.0.1.dev2
frontend==0.0.3
google-genai==1.12.1
google-generativeai==0.8.4
grpcio-status==1.71.0
hdbscan==0.8.40
ipykernel==6.29.5
krippendorff==0.8.1
langchain-google-vertexai==2.0.19
openpyxl==3.1.5
pickle-mixin==1.0.2
pip==25.1.1
PyMuPDF==1.25.3
RAGatouille==0.0.9
seaborn==0.13.2
torchaudio==2.2.2
torchvision==0.17.2
umap==0.1.1
umap-learn==0.5.7
XlsxWriter==3.2.2
transformers==4.41.0
langchain==0.3.25
langchain_google_genai==2.1.4
